<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iOSWindChallenge.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CEADAD2518FFCD5800D51D06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEB76DE318F9A9AF007D8421</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEB76E0718F9A9B0007D8421</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
